/* body {
  background: #222;
  padding: 32px;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

h1 {
  background: deeppink;
  padding: 16px 32px;
  margin-bottom: 24px;
  margin-top:-48px;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  
} */
  /* h1 {
  width: min-content;
  background-color: fuchsia;
} */

/* h2 {

  width: -moz-fit-content;
  width: fit-content;
  background-color: peachpuff;
  margin-bottom: 16px;
  padding:  12px;
} */

/* .box {
  width: 100%;
  min-width: 170px;
  max-width: 300px;
  margin: 0 auto;
  border: solid hotpink;
} */
